/* variables */
:root{
    --primary: #303030;
    --secondary: #e2e2e2;
  }
  
  /* reset */
  body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }
  
  /* base styles */
  body{
    background: var(--secondary);
    overflow-x: hidden;
  }
  .button{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: block;
  }
  .button:hover{
    color: #222;
    background: var(--primary);
  }
  input,textarea{
    background:#545454;
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--primary);
    color: #ffffff;
    font-family: 'Open-Sans';
  }
  
  /* fonts */

  @font-face {
    font-family: 'Open-Sans';
    src: url('assets/fonts/Roboto-Light.ttf')
    }
    @font-face {
        font-family: 'Open-Sans_bold';
        src: url('assets/fonts/Roboto-Medium.ttf')
        }
   h1,h2,h3,h4{
    font-family: 'Open-Sans_bold';
    color: var(--primary);
    font-weight: 500;
    line-height: 150%;
    }
   p,a,li{
    font-family: 'Open-Sans';
    color: var(--primary);
    }
    h1,h3{
    font-size: 1.2em;
    }
    h2{
    font-size: 1.1em;
    }
    h4{
    font-size: 1.1em;
    }
    .blurb{
    font-size: 0.9em;
    line-height: 150%;
    font-family: 'Open-Sans';
    }   
  /* mobile styles */
    .grid{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        gap: 10px;
        text-align: center;
    }
    .site-nav{
        margin: 0 20px;

    }
    .site-nav ul{
        display: none;
    }
    .site-nav h1{
        grid-column: span 8;
        grid-row: 1;
        padding-bottom: 10px;
        border-bottom: 3px solid var(--primary);
    }
    #about{
        padding: 20px 20px;
        background: #f3f3f3;
    }
    .about-text{
        grid-column: span 8;
    }
    .about-img{
        grid-column: span 8;
    }
    .about-text h2{
        margin: 10px
    }
    .about-img img{
        width: 100%;
        border-radius: 8px;
    }
    .about-text a{
        margin: 10px 0 5px 5px;
        margin-right: 5px;
    }
    /*# because it's an ID */

    #portfolio{
        background: var(--secondary); 
        padding: 20px 20px;
    }
    #portfolio h3{
        margin-bottom: 10px;
        text-align: center;
        
    }
    .implementations a {
        grid-column: span 8;
        margin: 10px 0;
        /*use flex to sit elements next to each other*/
        display: block;
        
    }
    /* use an asteriks to style everything in anchor tags */
    .implementations a *{
        margin: 5px 0;
        max-width: 100%;
        /*"self" because we're grabbing multiple things*/
        align-self: center;
        
    }
    .implementations h4{
        color: pink; 
    }

    #portfolio img{
       border-radius: 10px;
    }

    #development{
        padding: 30px 20px;
        background: grey;
    }
    #development h3{
        text-align: center;
    }
    #development ul{
        margin: 40px 0;
    }
    #development li{
        padding: 10px; 
        background: #545454;
        /* with 8 columns total gets us 2 on top and bottom */
        grid-column: span 4;
        text-align: center;
    }
    #development p {
        text-align: center;
        margin: 0 20px;
    }
    #development img{
        height: 80px;
        margin: 10px auto;
    }
    #contact {
        padding: 30px 20px;
        background: grey;
    }
    #contact h3, #contact p{
        text-align: center;
        margin-bottom: 0;
    }
    #contact form{
        width: 80%;
        max-width: 400px;
        margin: 20px auto;
        text-align: center;
    }
    #contact input, #contact textarea{
        width: 100%;
        margin: 10px 0;
    }
    #contact .button{
        margin-top: 10px;
    }
    footer{
        padding: 30px 20px;
        /* use background-color when also using image*/
        background-color: var(--secondary);
        background-image: url("");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    footer .copyright{
        grid-column: 1/3;
        font-size: 0.8em;
    }
    footer .social{
        grid-column: 7/9;
        display: flex;
        justify-content: flex-end;
    }
    footer li{
        margin: 0 6px;
    }
    footer img{
        width: 20px;
    } 



    
  /* small tablet styles */
  @media screen and (min-width: 620px){


    #about{
        padding: 25px 50px;
    }

    .about-text{
        grid-column: 1/5;
        grid-row: 1;
        align-self: center;
    }
    .about-img{
        grid-column: 5/9;
        grid-row: 1;
    }
    .about-img img{
        width: 100%;
    }
  .projects{
      margin-top: 40px;
  }
  .projects a{
      grid-column: span 4;
      display: block;
      margin: 20px 0;
  }
  .projects a:last-child{
      grid-column: 3/7;
  }
  .projects a * {
      max-width: 60%;
      margin: 10px 20%;
  }
  .projects h4{
      text-align: center;
  }
  #skills{
      padding: 30px 100px;
  }
  footer{
      background-size: 20%;
  }
  }
  



  /* large tablet & laptop styles */
  @media screen and (min-width: 960px){
  body{
      font-size: 18px;
  }
  .grid{
      width: 80%;
      max-width: 1060px;
      margin: 0 auto;
      /* account for padding inside */
      box-sizing: border-box;
  }
  .blurb{
      margin: 20px 0;
  }
  .site-nav{
      padding: 0 20px;
  }
  .site-nav h1{
    grid-column: 1/3;
}
.site-nav ul{
    grid-column: 6/9;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.site-nav li{
    margin-left: 20px;
}
.about-text{
    /* looks at row and vertically distributes */
    align-self: center;
}
#about{
    padding-bottom: 40px;
}
.implementations a:nth-child(1){
    grid-column: 2/4;
    display: block;
    align-self: center;
    text-align: center;
}
.implementations a:nth-child(2){
    grid-column: 4/6;
    display: block;
    align-self: center;
    text-align: center;
}
.implementations a:nth-child(3){
    grid-column: 6/8;
    display: block;
    align-self: center;
    text-align: center;
}
.implementations a:nth-child(4){
    grid-column: 2/4;
    grid-row: 2;
    display: block;
    align-self: center;
    text-align: center;

}
.implementations a:nth-child(5){
    grid-column: 4/6;
    grid-row: 2;
    display: block;
    align-self: center;
    text-align: center;
}
.implementations a:nth-child(6){
    grid-column: 6/8;
    grid-row: 2;
    display: block;
    align-self: center;
    text-align: center;
}

.implementations a *{
    max-width: 80%;
    margin: 25px 10%;
}
#development{
    padding: 30px 20px;
}
#development ul{
    margin: 40px auto;
}
#development li{
    grid-column: span 2;
}
footer{
    padding: 40px 20px;
    background-size: 25%;
}
  }

  /* grid testing */

  /* .projects{
      display: grid;
      grid-template-columns: repeat(12,1fr);
      gap: 10px;
  }
  .projects a{
      text-align: center;
      background: grey;
      padding: 20px;
  }
  .projects img{
      max-width: 100%
  }
  .projects a:nth-child(1){
      grid-column: 2/6;
      grid-row: 1;
  }
  .projects a:nth-child(2){
    grid-column: 8/12;
    grid-row: 1;
}
.projects a:nth-child(3){
    grid-column: 5/9 ;
    grid-row: 2;
} */
 
